/* Large desktop :1920px. */
@media (min-width: 1400px) and (max-width: 1920px) {
    .container {width: 1200px}
/*    .banner-area {height: 1196px}*/
    /*.banner-text h1 {font-size: 68px;}*/
    /*.banner-area .col-lg-5 {padding-left: 0;}*/
    .banner-apps {
        margin-left: 76px;
        margin-top: -315px;
    }
    .single-app {
        height: 140px;
        width: 140px;
        border: 4px solid #ffffff
    }
    .banner-apps .single-app:nth-child(1) {
        left: 0;
        top: 122px;
    }
    .banner-apps .single-app:nth-child(2) {
        left: 258px;
        top: 60px;
    }
    .single-app:nth-child(3) {
        left: 516px;
        top: 0;
    }
    .single-app h4, .single-app h3 {font-size: 16px}
    .single-app h3 {font-size: 18px}
    .about-text {
        margin-right: 72px;
        margin-top: 75px;
    }
    .features-area {
        background-position: -8.5% 63%;
        background-size: 62% auto;
    }
    .features-area .single-item:nth-child(2), .features-area .single-item:nth-child(4) {margin-left: 56px}
    .features-area .single-item:nth-child(3) {margin-left: 138px}
    .download-area {
        /*margin-top: -197px;*/
        padding-bottom: 408px;
        padding-top: 358px;
    }
    .download-area::before, .download-area::after, .footer-area:before {height: 460px;}
    .pricing-area {margin-top: -104px}
    .pricing-area .col-sm-4:first-child .single-price-package {
        margin-left: 87px;
        margin-right: 3px;
    }
    .pricing-area .col-sm-4:last-child .single-price-package {
        margin-right: 87px;
        margin-left: 3px;
    }
    .pricing-area .single-price-package.list-large {margin: -34px 26px 0}
    .footer-area {
        margin-top: -102px;
        padding-top: 322px;
    }
    .download-btn {z-index: 9}
  /*  .banner-area::before, .domain-name-area::before, .domain-name-area::after {height: 460px;}*/
    .banner-area.banner-image {height: 1050px;}
    .domain-name-area {
        padding-bottom: 400px;
        padding-top: 380px;
    }
/*    .banner-area.banner-horizontal {height: 1075px;}
    .banner-area.banner-horizontal::before {height: 270px;}*/
    .banner-horizontal .banner-apps .single-app {top: 30px;}
    .service-area.horizontal::after {display: none;}
    .box-layout .banner-apps {margin-top: -405px;}
    .box-layout .about-area {padding-top: 22px;}
    .box .download-area::before, .box .download-area::after, .box .footer-area::before {height: 372px;}
    .box .download-area {padding-bottom: 360px;}
    .box-layout .banner-table-cell p {font-size: 14px;}
    .box .domain-name-area::before, .box .domain-name-area::after {
        height: 345px;
    }
    .box .domain-name-area {padding-bottom: 370px;}
    .about-four.about-box-layout {margin-top: -200px;}
    .banner-horizontal.box-layout .banner-apps {margin-top: -311px;}
    .box .download-area.horizontal {padding-bottom: 85px;}
}
/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
	.container-wrapper {width: 970px;}
    .container {width:970px}
    .banner-area {height: 724px}
    .banner-text h1, .box-layout .banner-text h1 {
        font-size: 56px;
        line-height: 58px;
        margin-bottom: 10px;
    }
    #main-menu {top: 60px}
    .about-text {
        margin-right: 0;
        margin-top: 37px;
    }
    .features-area .single-item:nth-child(2), .features-area .single-item:nth-child(4) {margin-left: 72px}
    .features-area .single-item:nth-child(3) {margin-left: 149px}
    .features-area .single-item {margin-bottom: 55px}
    .features-area {
        background: url("../img/banner/preview.png");
        background-repeat: no-repeat;
        background-position: -11% 64%;
        background-size: 53% auto;
        margin-top: -145px;
    }    
    .features-area.features-yellow {
        background: url("../img/banner-yellow/preview.png");
        background-repeat: no-repeat;
        background-position: -11% 64%;
        background-size: 53% auto;
        margin-top: -145px;
    }    
    .features-area.features-blue {
        background: url("../img/banner-blue/preview.png");
        background-repeat: no-repeat;
        background-position: -11% 64%;
        background-size: 53% auto;
        margin-top: -145px;
    }
    .download-area::before, .footer-area::before, .download-area::after {height: 283px}
    .download-area {
        /*margin-top: -78px;*/
        padding-bottom: 322px;
        padding-top: 280px;
    }
    .testimonial-text-slider {width: 84%}
    form#contact-form {margin-right: 0}
    .footer-area {
        margin-top: -5px;
        padding-bottom: 100px;
        padding-top: 245px;
    }
    .banner-area::before {height: 283px;}
    .banner-area.banner-image {height: 810px;}
    .domain-name-area {padding-bottom: 315px;}
    .banner-area .col-lg-5 {padding-left: 0;}
    .banner-product-image {margin-top: 59%;}
    .banner-horizontal .banner-apps .single-app {top: 75px;}
    .banner-area.banner-horizontal::before {height: 98px;}
    .banner-area.banner-horizontal .banner-product-image {margin-top: 72%;}
    .banner-area.banner-image.horizontal {height: 580px;}
    .box-layout .banner-text p {font-size: 14px}
    .about-box-layout .about-area {padding-top: 80px;}
    .box .download-area::before, .box .banner-area::before {height: 245px;}
    .box .domain-name-area::before {height: 270px;}
    .box .footer-area::before {height: 233px;}
}
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    
 
	.container-wrapper {width: 750px;}
    .container {width:750px}
    .mobile-menu .mean-bar {
        background: url("../img/logo/logo.png") no-repeat scroll left top;
    }
    .header-blue .mobile-menu .mean-bar {
        background: url("../img/logo/logo-2.png") no-repeat scroll left top;
    }
    .header-yellow .mobile-menu .mean-bar {
        background: url("../img/logo/logo-3.png") no-repeat scroll left top;
    }
    #main-menu {top: 70px}
    .banner-area {height: 620px}
    .banner-text h1 {
        font-size: 48px;
        line-height: 56px;
        margin-bottom: 30px;
    }
    .banner-text p {display: none}
    .banner-apps {
        margin-left: 0px;
        margin-top: -221px;
        position: relative;
    }
    .about-area {padding-top: 121px}
    .about-text {margin: 0}
    .about-text h2 {margin-bottom: 10px}
    .about-text > p {margin-bottom: 12px}
    .about-buttons {margin-top: 20px}
    .service-area {
        padding-bottom: 265px;
        padding-top: 253px;
    }
    .service-area::after {
        height: 400px;
        top: 18%;
    }
    .features-area {margin-top: -200px;}
    .features-area, .features-area.features-yellow, .features-area.features-blue {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        padding-top: 122px;
    }
    .features-area .single-item:first-child, .features-area .single-item:last-child, .features-area .single-item:nth-child(2), .features-area .single-item:nth-child(4), .features-area .single-item:nth-child(3) {
        margin-left: 0;
    }
    .features-area .single-item {margin-bottom: 65px}
    .download-area {
        /*margin-top: -212px;*/
        padding-top: 420px;
    }
    .download-btn {
        margin: 0 6px;
        padding: 0 19px 0 58px;
    }
    .download-btn i {left: 4px}
    .pricing-area {
        margin-top: -115px;
        padding-top: 122px;
    }
    .pricing-area .col-sm-4:first-child .single-price-package, .pricing-area .col-sm-4:last-child .single-price-package {
        margin-left: 0;
        margin-right: 0;
    }
    .pricing-area .single-price-package.list-large {margin: -34px 0 0}
    .price-list {padding-top: 30px}
    .price-btn .button {margin-top: 30px}
    .price-title {padding: 25px 0 24px}
    .list-large .price-title {padding: 27px 0 30px}
    .testimonial-text-slider {
        padding: 30px 41px 0;
        width: 100%;
    }
    .slick-prev, [data-carousel-3d] [data-prev-button] {left: 0}
    .slick-next, [data-carousel-3d] [data-next-button] {right: 0}
    .footer-area {
        margin-top: -100px;
        padding-top: 290px;
        padding-bottom: 60px
    }
    .submit-form .button {margin-bottom: 20px}
    .newsletter {margin-top: 60px}
    form#contact-form {margin-right: 0}.banner-area::before {height: 233px;}
    .banner-area.banner-image {height: 640px;}
    .about-area.about-four {
        padding-top: 112px;
        padding-bottom: 0;
    }
    .feature-four, .feature-four.horizontal {padding-top: 122px}
    .features-box-layout .feature-four {margin-top: -240px}
    .features-box-layout .feature-four.horizontal {margin-top: -20px}
    .domain-name-area {padding-bottom: 305px;}
    .banner-area .col-lg-5 {padding: 0;}
    .banner-product-image {margin-top: 66%;}
    .banner-horizontal .banner-apps .single-app {top: 75px;}
    .banner-area.banner-horizontal::before {height: 98px;}
    .banner-area.banner-horizontal .banner-product-image {margin-top: 75%;}
    .banner-area.banner-image.horizontal {height: 500px;}
    .about-area.horizontal {padding: 125px 0;}
    .about-area.about-four.horizontal {padding: 90px 0;}
    .features-area.hidden-xs.horizontal {
        padding-bottom: 100px;
        padding-top: 122px;
    }
    .download-area.horizontal {
        padding-bottom: 125px;
        padding-top: 120px;
    }
    .pricing-area.horizontal {padding-top: 121px;}
    .testimonial-area.horizontal, .screenshots-area.horizontal {padding-top: 122px;}
    .footer-area.horizontal {
        padding-bottom: 122px;
        padding-top: 122px;
    }
    .box-layout .banner-text h1 {font-size: 46px;}
    .features-box-layout .features-area {margin-top: -210px;}
    .features-box-layout {
        padding-left: 30px;
        padding-right: 30px;
    }
    .box .download-area {
        padding-bottom: 289px;
        padding-top: 325px;
    }
    .about-box-layout .about-area {padding-top: 80px;}
    .box .download-area::before, .box .footer-area::before, .box .banner-area::before, .box .domain-name-area::before {
        height: 287px;
    }
    .about-box-layout .about-area.horizontal {padding-bottom: 85px;}
    .box .download-area.horizontal, .features-box-layout .features-area.hidden-xs.horizontal {
        padding-bottom: 85px;
        padding-top: 85px;
    }
    .box .pricing-area.horizontal {padding-top: 85px;}
    .box .pricing-area.pricing-four {margin-top: -150px;}
    .box .pricing-area.pricing-four.horizontal {margin-top: 0px;}
    .about-image {margin-right: 0;}
}
/* small mobile :320px. */
@media (max-width: 767px) {
        .mission-fot {
    display: inline-block;
    width: 45px;
    height: 45px;
    margin: 0px 15px 5px 0;
}
   .highlight {  font-size: 1.2em; margin-bottom: 20px !important;  }
    
.logo {
    width: 80px;
    margin: 0 auto;
    display: block;
}
.main-menu nav ul li a {
    margin-right: 10px
}
.mission-names {
    column-count: 1 !important;
}

.mission-logo {
    margin: 30px auto !important;
    width: 150px !important;
}

.mission-badge {
    width: 70px;
    height: 70px;
    margin: 10px 5px;
    border: none;
}
.signup-box {
    width: 100% !important;
    margin: 0;
    padding: 10px 10px 30px 10px;
}

.main-menu {display: block; text-align: center;}
.menu-btn.button-default.button-blue {
    display: none;
}
.tubular-container, .tubular-shield {
    display: none;

}

    .container-wrapper {width: 320px;}
    .container {width:320px}
    .mobile-menu .mean-bar {
        background: url("../img/logo/logo.png") no-repeat scroll left top;
    }
    .header-blue .mobile-menu .mean-bar {
        background: url("../img/logo/logo-2.png") no-repeat scroll left top;
    }
    .header-yellow .mobile-menu .mean-bar {
        background: url("../img/logo/logo-3.png") no-repeat scroll left top;
    }
    #main-menu {top: 40px}
    .banner-area {height: 610px;}
    .banner-text h1 {
        font-size: 27px;
        line-height: 28px;
        margin-bottom: 20px;
    }
    .banner-text p {
    font-size: 1.4rem;
    line-height: 2.2rem;
    padding-right: 11px;
    }
    .banner-apps {display: none}
    .button-default {
        font-size: 16px;
        line-height: 45px;
        padding: 0 15px;
    }
    .banner-buttons .button-default {margin-right: 2px}
    .about-area, .about-area.about-four {
        margin-top: -80px;
        padding-top: 100px;
    }
    .about-image, form#contact-form {margin-right: 0}
    .section-title, .pricing-area .section-title {margin-bottom: 50px}
    .about-text {
        margin-right: 0;
        margin-top: 45px;
    }
    .about-buttons, .newsletter {margin-top: 30px; z-index: 99; position: relative}
    .about-buttons button.button-default {margin-right: 4px}
    .download-area {
        margin-top: 0;
        padding-bottom: 130px;
        padding-top: 135px;
    }
    .section-title h1 {
        font-size: 29px;
        line-height: 30px;
        
    }
    .section-title h1  span {
         white-space:nowrap;   
    }
     
    .download-area::before, .footer-area::before, .download-area::after {height: 110px}
    .download-btn {
        margin: 0 auto 20px;
        padding: 0 7px 0 77px;
        width: 100%;
    }
    .download-btn i {left: 13px}
    .pricing-area .col-sm-4:first-child .single-price-package, .pricing-area .col-sm-4:last-child .single-price-package, .pricing-area .single-price-package.list-large {
        margin: 0 0 25px 0;
    }
    .pricing-area {
        padding-top: 100px;
    }
    .testimonial-area, .screenshots-area {padding-top: 100px}
    .slick-prev, [data-carousel-3d] [data-prev-button] {left: 0}
    .slick-next, [data-carousel-3d] [data-next-button] {right: 0}
    .testimonial-text-slider {
        padding: 30px 0 0;
        width: 100%;
    }
    .sin-testiText p {margin-bottom: 10px}
    .testimonial-text-slider h2 {font-size: 22px}
    .footer-area {
        margin-top: 0;
        padding-bottom: 65px;
        padding-top: 130px;
    }
    .submit-form .button {margin-bottom: 30px;}
    .contact-icon {margin-right: 12px}
    .newsletter > h3 {line-height: 35px}
    .newsletter-content .button {
        width: 34%;
        font-size: 14px
    }
    .newsletter-content > input {height: 45px}
    .footer-links a {margin: 0 1px}
    .banner-image .banner-text {padding-top: 45%;}
    .banner-image .banner-buttons .button-default{margin-left: 2px}
    .banner-image .banner-text h1{margin-bottom: 10px; line-height: 33px}
    .banner-image .banner-text p {margin-bottom: 16px;}
    .banner-area::before {height: 115px;}
    .banner-area.banner-image {height: 620px}
    .about-four .about-text h2 {font-size: 27px;}
    .service-info-container > span {padding-left: 12px;}
    .about-four .about-buttons{margin: 30px 0 30px 0}
    .download-area::before, .domain-name-area::before {height: 126px;}
    .domain-name-area {
        padding-bottom: 110px;
        padding-top: 157px;
    }
    .domain-name-area h1 {font-size: 27px;}
    .domain-wrapper {margin: 0;}
    #text-search {
        font-size: 16px;
        padding: 0 150px 0 10px;
    }
    .search-categories {
        right: 122px;
        width: 63px;
    }
    #btn-search-category {
        font-size: 14px;
        padding-left: 4px;
        width: 130px;
    }
    .category-items{padding: 0; width: 63px}
    .search-cat {background-position: 93% 22px;}
    .domain-name-area::after {height: 103px;}
    .pricing-four .single-price-package {margin-bottom: 20px;}
    .pricing-four .col-sm-3:last-child .single-price-package{margin-bottom: 0}
    .pricing-area.pricing-four {margin-top: -60px;}
    .banner-area .col-lg-5 {padding: 0;}
    .banner-area.banner-horizontal::before {height: 55px;}
    .pricing-area.horizontal .col-sm-4:last-child .single-price-package {margin-bottom: 0;}
    .banner-area.banner-image.horizontal {height: 570px;}
    .about-area.horizontal {
        margin-top: -100px;
        padding: 125px 0 70px;
    }
    .about-area.about-four.horizontal {
        margin-top: -40px;
        padding: 125px 0 70px;
    }
    .features-area.hidden-xs.horizontal {
        padding-bottom: 100px;
        padding-top: 122px;
    }
    .download-area.horizontal {
        padding-bottom: 80px;
        padding-top: 90px;
    }
    .pricing-area.horizontal {padding-top: 121px; margin-top: -30px}
    .testimonial-area.horizontal, .screenshots-area.horizontal {padding-top: 122px;}
    .footer-area.horizontal {
        padding-bottom: 110px;
        padding-top: 120px;
    }
    .box .download-area::before, .box .footer-area::before, .box .download-area::after {height: 140px;}
    .box-layout .banner-text p {font-size: 14px;}
    .about-box-layout .about-area {margin-top: -100px;}
    .box-layout .banner-text h1 {
        font-size: 25px;
        margin-bottom: 10px;
    }
    .box-layout .banner-buttons .button-default {
        margin-right: 0;
        padding: 0 12px;
    }
    .box .download-area::before, .box .footer-area::before, .box .download-area::after {height: 102px;}
    .box .download-area {
        padding-left: 15px;
        padding-right: 15px;
    }
    .box .section-title h1 {font-size: 30px;}
    .box .download-btn {padding: 0 0 0 58px;}
    .box .download-btn i {left: 0;}
    .box .download-area {padding-bottom: 100px;}
    .box .footer-links a {margin: 0;}
    .contact-icon {
        height: 50px;
        margin-right: 4px;
        width: 50px;
    }
    .box-layout.banner-image .banner-buttons .button-default {padding: 0 8px;}
    .about-box-layout.about-four .about-text h2, .box .domain-name-area h1 {font-size: 24px;}
    .box .download-area.horizontal {
        padding-bottom: 85px;
        padding-top: 85px;
    }
    .banner-area.banner-image.box-layout::before {height: 133px;}
}
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {

	.container-wrapper {width: 450px;}	
    .container {width:450px}
    .banner-text p {
        font-size: 15px;
        margin-bottom: 33px;
    }
    .banner-text h1, .box-layout .banner-text h1 {font-size: 40px}
    .download-area::before, .footer-area::before, .download-area::after {height: 180px}
    .download-area {
        margin-top: -25px;
        padding-bottom: 152px;
        padding-top: 164px;
    }
    .download-btn {width: 66%}
    .box .pricing-area.horizontal {margin-top: 0}
    .sin-testiImage img {
        height: 80px;
        margin-top: 48px;
        width: 80px;
    }
    .sin-testiImage.slick-current img {
        height: 133px;
        margin-top: 21px;
        width: 133px;
    }
    .slick-prev, .slick-next {top: 38%}
    .footer-area {
        margin-top: -15px;
        padding-top: 155px;
    }
    .banner-image .banner-text h1 {
        font-size: 28px;
        line-height: 37px;
    }
    .banner-area::before {height: 177px;}
    .banner-area.banner-image {height: 660px;}
    .domain-name-area::before, .domain-name-area::after {height: 177px;}
    .domain-name-area h1 {
        font-size: 24px;
        margin-bottom: 15px;
    }
    .domain-name-area {
        padding-bottom: 175px;
        padding-top: 175px;
    }
    .box .pricing-area {margin-top: -60px;}
    .box .download-area::before, .box .footer-area::before, .box .download-area::after {height: 125px;}
    .box .download-area {padding-bottom: 120px;}
    .box .domain-name-area {padding-top: 210px;}
}